<% flash.each do |key, value| %>
    <p class="notice<%= key %>">
      <%= value %>
    </p>
<% end %>

<b>Title:</b>
<p><%= @book.title %></p>
<b>Body:</b>
<p><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book) %>|<%= link_to "Back", books_path %>